.radioControl {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.radioInputWrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input[type="radio"] {
  margin-right: 10px;
}

.form-control {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .radioInputWrapper {
    max-width: 300px;
  }
}

@media only screen and (max-width: 450px) {
  .radioInputWrapper {
    max-width: 250px;
  }
}

@media only screen and (max-width: 300px) {
  .radioInputWrapper {
    max-width: 200px;
  }
}
