form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  margin-bottom: 2%;
}

form button {
  padding: 20px 45px;
  border: none;
  background-color: #b0b0b0;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 10px;
}

form button:hover {
  cursor: pointer;
  background-color: rgb(121, 119, 119);
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 400px;
  padding: 6px 12px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control {
  margin-bottom: 20px;
}

.callToRegister {
  width: 400px;
  margin-bottom: 10px;
  text-align: end;
}

.error {
  border: 2px solid red !important;
}

@media only screen and (max-width: 500px) {
  input[type="text"],
  input[type="email"],
  .callToRegister {
    max-width: 200px;
    font-size: 1.2rem;
  }
  .callToRegister {
    text-align: center;
  }
}
