.footerContainer {
  display: flex;
  justify-content: flex-end;
}

h3 {
  margin: 0;
  font-size: 1.3rem;
}

@media only screen and (max-width: 850px) {
  .footerHeading {
    margin-top: 15px;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .footerContainer {
    justify-content: center;
  }
  .footerHeading {
    margin-top: 25px;
    font-size: 0.8rem;
  }
}
